<section class="choose">
  <div class="container">
    <h2 class="title">Why choose our company</h2>
    <ul class="choose-list">
      <li class="choose-list-item">
        <div class="choose-list-item-icon">
          <svg class="choose-list-item-icon-icon" width="71.7" height="70">
            <use href="./images/symbol-defs.svg#icon-speed"></use>
          </svg>
        </div>
        <h3 class="choose-list-item-subtitle">Speed</h3>
        <p class="choose-list-item-text">
          Thanks to GPON and a backup line, we guarantee the speed right under
          <br />
          the contract
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-list-item-icon">
          <svg class="choose-list-item-icon-icon" width="71.7" height="70">
            <use href="./images/symbol-defs.svg#icon-Installation"></use>
          </svg>
        </div>
        <h3 class="choose-list-item-subtitle">Installation</h3>
        <p class="choose-list-item-text">
          We carefully mount the cable, without damaging the interior of your
          apartment or house
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-list-item-icon">
          <svg class="choose-list-item-icon-icon" width="71.7" height="70">
            <use href="./images/symbol-defs.svg#icon-Support"></use>
          </svg>
        </div>
        <h3 class="choose-list-item-subtitle">Support</h3>
        <p class="choose-list-item-text">
          Round-the-clock help in the application or via the hotline, even on
          holidays you can get an answer to your question
        </p>
      </li>
    </ul>
  </div>
</section>
