<section class="feedback container" id="reviews">
  <h2 class="feedback-header">Feedbacks from our clients</h2>
  <div class="feedback-general">
    <div class="feedback-main">
      <svg class="icon-quotation-marks" width="40" height="40">
        <use href="/img/symbol-defs.svg#icon-quotation-marks"></use>
      </svg>
      <h3 class="feedback-subtitle">
        «We have been using <br />World.net for seven years»
      </h3>
      <p class="feedback-text">
        «We connected it for a rented apartment, and now we use it in ours. For
        7 years, only one call was made to support - to change the installation
        address. It can be called the quality standard for modern Internet
        providers. The level of service is excellent. No connection breaks, no
        modem connection, the Internet, in fact, over a dedicated line. Bonus
        program for regular subscribers up to 20% discount on the tariff plan»
      </p>
      <a href="" target="_blank" class="feedback-link">Read full review</a>
    </div>
    <div class="feedback-img">
      <img
        srcset="/img/feedback/H.png 1x, /img/feedback/H-2x.png 2x"
        src="/img/feedback/H.png"
        alt="Letter H on purple background"
        width="250"
        height="250"
        class="hero-img"
      />
      <p class="douglas">Douglas Hancock</p>
      <p class="chicago">Chicago</p>
    </div>
  </div>
</section>
