<header class="header">
  <div class="container container-header">
    <a class="header-logo" href="./index.html">World.Net</a>
    <nav class="header-navi">
      <ul class="header-menu-list">
        <li class="heder-menu-item">
          <a class="header-menu-link" href="">Home</a>
        </li>
        <li class="heder-menu-item">
          <a class="header-menu-link" href="">About</a>
        </li>
        <li class="heder-menu-item">
          <a class="header-menu-link" href="">Reviews</a>
        </li>
        <li class="heder-menu-item">
          <a class="header-menu-link" href="">Tarrifs</a>
        </li>
        <li class="heder-menu-item">
          <a class="header-menu-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <p class="header-address-item">
        <a class="header-address-link" href="tel:+8 (800) 654-97-32"
          >+8 (800) 654-97-32</a
        >
      </p>
    </address>
  </div>
</header>
