<section class="hero container" id="home">
  <div class="hero-main">
    <h1 class="hero-header">Reliable Home Internet <br />and TV Provider</h1>
    <p class="hero-text">
      We work only in small towns. Thanks to this,<br />
      we maintain quality and we will not spray
    </p>
    <button type="submit" class="hero-btn">Submit your application</button>
  </div>
  <div class="hero-picture">
    <img
      srcset="/img/hero/hero.png 1x, /img/hero/hero-2x.png 2x"
      src="/img/hero/hero.png"
      alt="Reliable internet provider"
      width="571"
      height="560"
      class="hero-img"
    />
  </div>
</section>
