<div class="backdrop">
    <div class="modal">

        <p class="modal-subtitle">Contact us</p>
        <p class="modal-title">Contact <span class="title-accent">Us & We Can
        Work Together</span></p>

        <p class="modal-descr">Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique consectetur mi
        curabitur congue enim dignissim</p>

        <form name="contact-form">

            <input class="modal-input" type="text" name="user-name" placeholder="Your name">

            <input class="modal-input" type="email" name="user-email" placeholder="Your Email">
            
            <textarea class="modal-textarea" name="user-comment" placeholder="Your Message"></textarea>

        </form>

        <button class="modal-button" type="submit">Submit Message</button>

    </div>
</div>

