<div class="backdrop">
    <div class="modal">

        <p class="modal-subtitle">Contact us</p>
        <p class="modal-title">Contact <span class="title-accent">Us & We Can
        Work Together</span></p>

        <p class="modal-descr">Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id gravida pulvinar. Tristique consectetur mi
        curabitur congue enim dignissim</p>

        <form name="contact-form">

            <label class="modal-label visually-hidden" for="user-name"></label>
            <input class="modal-input" type="text" name="user-name" id="user-name" placeholder="Your name">

            <label class="modal-label visually-hidden" for="user-email"></label>
            <input class="modal-input" type="email" name="user-email" id="user-email" placeholder="Your Email">
            
            <label class="modal-label visually-hidden" for="user-comment"></label>
            <textarea class="modal-textarea" name="user-comment" id="user-comment" placeholder="Your Message"></textarea>

        </form>

        <button class="modal-button" type="submit">Submit Message</button>

    </div>
</div>

