<section class="offers">
  <div class="offers-container">
    <h1 class="offers-title">Tariff offers</h1>
    <ul class="offers-list">
      <li class="offers-item">
        <div class="offers-item-blockone">
          <picture class="offers-img">
            <img
              src="/img/tariiff/standart-min.png"
              alt="The connection is always stable"
              width="375"
              height="340"
              srcset="
                /img/tariiff/standart-min.png    1x,
                /img/tariiff/standart-2x-min.png 2x
              "
              class="offers-img-group"
            />
          </picture>
        </div>
        <div class="offers-item-blocktwo">
          <ul class="offers-choice">
            <li class="offers-plan">Standart</li>
            <li class="offers-price">$20/month</li>
          </ul>
          <p class="offers-parag">The connection is always stable</p>
          <p class="offers-parag-speed">Speed of <span class="secondpage-offers">100</span> Mbit / s</p>
          <p class="offers-parag-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            scelerisque, neque eu pulvinar elementum, mauris nibh posuere elit,
            id auctor lectus nibh eget arcu. Sed nec nunc eros. Duis eu urna in
            risus pellentesque hendrerit eleifend vitae nisl. Integer magna
            elit, consectetur eget leo sed, dapibus consequat erat. Vivamus
            lorem eros, blandit sit amet mi convallis, rhoncus pulvinar enim.
            Suspendisse tincidunt porttitor nunc, a porta nisi condimentum ac.
            Nunc ultrices, tellus id varius cursus, tortor diam sollicitudin
            quam, et placerat turpis risus id mi. Nunc euismod posuere
            tristique. Morbi vehicula suscipit est. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia curae;
          </p>
          <a
            href="/src/page-tariffs.html"
            target="_blank"
            class="offers-link"
            id="page-second-standart"
            >Make a request</a
          >
        </div>
      </li>
      <li class="offers-item">
        <div class="offers-item-blockone">
          <picture class="offers-img">
            <img
              src="/img/tariiff/smart-min.png"
              alt="Service without weekends"
              width="375"
              height="340"
              srcset="
                /img/tariiff/smart-min.png    1x,
                /img/tariiff/smart-2x-min.png 2x
              "
              class="offers-img-group"
            />
          </picture>
        </div>
        <div class="offers-item-blocktwo">
          <ul class="offers-choice">
            <li class="offers-plan">Smart</li>
            <li class="offers-price">$30/month</li>
          </ul>
          <p class="offers-parag">Service without weekends</p>
          <p class="offers-parag-speed">Speed of <span class="secondpage-offers">300</span> Mbit / s</p>
          <p class="offers-parag-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            scelerisque, neque eu pulvinar elementum, mauris nibh posuere elit,
            id auctor lectus nibh eget arcu. Sed nec nunc eros. Duis eu urna in
            risus pellentesque hendrerit eleifend vitae nisl. Integer magna
            elit, consectetur eget leo sed, dapibus consequat erat. Vivamus
            lorem eros, blandit sit amet mi convallis, rhoncus pulvinar enim.
            Suspendisse tincidunt porttitor nunc, a porta nisi condimentum ac.
            Nunc ultrices, tellus id varius cursus, tortor diam sollicitudin
            quam, et placerat turpis risus id mi. Nunc euismod posuere
            tristique. Morbi vehicula suscipit est. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia curae;
          </p>
          <a
            href="/src/page-tariffs.html"
            target="_blank"
            class="offers-link"
            id="page-second-smart"
            >Make a request</a
          >
        </div>
      </li>
      <li class="offers-item">
        <div class="offers-item-blockone">
          <picture class="offers-img">
            <img
              src="/img/tariiff/prime-min.png"
              alt="New modern fiber optic network"
              width="375"
              height="340"
              srcset="
                /img/tariiff/prime-min.png    1x,
                /img/tariiff/prime-2x-min.png 2x
              "
              class="offers-img-group"
            />
          </picture>
        </div>
        <div class="offers-item-blocktwo">
          <ul class="offers-choice">
            <li class="offers-plan">Prime</li>
            <li class="offers-price">$40/month</li>
          </ul>
          <p class="offers-parag">New modern fiber optic network</p>
          <p class="offers-parag-speed">Speed of <span class="secondpage-offers">1000</span> Mbit / s</p>
          <p class="offers-parag-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            scelerisque, neque eu pulvinar elementum, mauris nibh posuere elit,
            id auctor lectus nibh eget arcu. Sed nec nunc eros. Duis eu urna in
            risus pellentesque hendrerit eleifend vitae nisl. Integer magna
            elit, consectetur eget leo sed, dapibus consequat erat. Vivamus
            lorem eros, blandit sit amet mi convallis, rhoncus pulvinar enim.
            Suspendisse tincidunt porttitor nunc, a porta nisi condimentum ac.
            Nunc ultrices, tellus id varius cursus, tortor diam sollicitudin
            quam, et placerat turpis risus id mi. Nunc euismod posuere
            tristique. Morbi vehicula suscipit est. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia curae;
          </p>
          <a
            href="/src/page-tariffs.html"
            target="_blank"
            class="offers-link"
            id="page-second-prime"
            >Make a request</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
