<section class="offers">
    <h1 class="offers-title">Tariff offers</h1>
    <ul class="offers-list">
      <li class="offers-item">
        <picture class="offers-img">
          <img
            src="/img/tariiff/standart-min.png"
            alt="The connection is always stable"
            width="375"
            height="340"
            srcset="
              /img/tariiff/standart-min.png    1x,
              /img/tariiff/standart-2x-min.png 2x
            "
            class="offers-img-group"
          />
        </picture>
        <ul class="offers-choice">
          <li class="offers-plan">Standart</li>
          <li class="offers-price">$20/month</li>
        </ul>
        <p class="offers-parag">The connection is always stable</p>
        <p class="offers-parag-speed">Speed of 100 Mbit / s</p>
        <a href="/src/page-tariffs.html" target="_blank" class="offers-link" id="page-second-standart"
          >Make a request</a
        >
      </li>
      <li class="offers-item">
        <picture class="offers-img">
          <img
            src="/img/tariiff/smart-min.png"
            alt="Service without weekends"
            width="375"
            height="340"
            srcset="
              /img/tariiff/smart-min.png    1x,
              /img/tariiff/smart-2x-min.png 2x
            "
            class="offers-img-group"
          />
        </picture>
        <ul class="offers-choice">
          <li class="offers-plan">Smart</li>
          <li class="offers-price">$30/month</li>
        </ul>
        <p class="offers-parag">Service without weekends</p>
        <p class="offers-parag-speed">Speed of 300 Mbit / s</p>
        <a href="/src/page-tariffs.html" target="_blank" class="offers-link" id="page-second-smart">Make a request</a>
      </li>
      <li class="offers-item">
        <picture class="offers-img">
          <img
            src="/img/tariiff/prime-min.png"
            alt="New modern fiber optic network"
            width="375"
            height="340"
            srcset="
              /img/tariiff/prime-min.png    1x,
              /img/tariiff/prime-2x-min.png 2x
            "
            class="offers-img-group"
          />
        </picture>
        <ul class="offers-choice">
          <li class="offers-plan">Prime</li>
          <li class="offers-price">$40/month</li>
        </ul>
        <p class="offers-parag">New modern fiber optic network</p>
        <p class="offers-parag-speed">Speed of 1000 Mbit / s</p>
        <a href="/src/page-tariffs.html" target="_blank" class="offers-link" id="page-second-prime">Make a request</a>
      </li>
</section>