<section class="tariffs">
  <div class="tariffs-container">
    <h2 class="tariffs-title">Tariff offers</h2>
    <ul class="tariffs-list">
      <li class="tariffs-item">
        <picture class="tariffs-img">
          <img
            src="/img/tariiff/standart-min.png"
            alt="The connection is always stable"
            width="251"
            height="228"
            srcset="
              /img/tariiff/standart-min.png    1x,
              /img/tariiff/standart-2x-min.png 2x
            "
            class="tariffs-img-group"
          />
        </picture>
        <ul class="tariffs-choice">
          <li class="tariffs-plan">Standart</li>
          <li class="tariffs-price">$20/month</li>
        </ul>
        <p class="tariffs-parag">The connection is always stable</p>
        <p class="tariffs-parag-speed">Speed of 100 Mbit / s</p>
        <a
          href="/src/page-tariffs.html"
          target="_blank"
          class="tariffs-link"
          >Make a request</a
        >
      </li>
      <li class="tariffs-item">
        <picture class="tariffs-img">
          <img
            src="/img/tariiff/smart-min.png"
            alt="Service without weekends"
            width="251"
            height="228"
            srcset="
              /img/tariiff/smart-min.png    1x,
              /img/tariiff/smart-2x-min.png 2x
            "
            class="tariffs-img-group"
          />
        </picture>
        <ul class="tariffs-choice">
          <li class="tariffs-plan">Smart</li>
          <li class="tariffs-price">$30/month</li>
        </ul>
        <p class="tariffs-parag">Service without weekends</p>
        <p class="tariffs-parag-speed">Speed of 300 Mbit / s</p>
        <a
          href="/src/page-tariffs.html"
          target="_blank"
          class="tariffs-link"
          >Make a request</a
        >
      </li>
      <li class="tariffs-item">
        <picture class="tariffs-img">
          <img
            src="/img/tariiff/prime-min.png"
            alt="New modern fiber optic network"
            width="251"
            height="228"
            srcset="
              /img/tariiff/prime-min.png    1x,
              /img/tariiff/prime-2x-min.png 2x
            "
            class="tariffs-img-group"
          />
        </picture>
        <ul class="tariffs-choice">
          <li class="tariffs-plan">Prime</li>
          <li class="tariffs-price">$40/month</li>
        </ul>
        <p class="tariffs-parag">New modern fiber optic network</p>
        <p class="tariffs-parag-speed">Speed of 1000 Mbit / s</p>
        <a
          href="/src/page-tariffs.html"
          target="_blank"
          class="tariffs-link"
          >Make a request</a
        >
      </li>
    </ul>
  </div>
</section>
